@charset "utf-8";

/*
   Final Lab
   
   Author: Brandon Tran
   Date:   05/28/2021 
   Filename: portfolio.css

*/

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

html {
   background-color: rgb(173, 216, 230);
}


/* Page Body Styles */
body {
   background-color: rgb(0, 170, 255);
   font-family: Verdana, Geneva, Arial, Roboto;   
}


/* Horizontal Navigation List Styles */


nav.horizontal a {
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontal a:link, 
nav.horizontal a:visited {
   color: rgb(0,0,0);
}

nav.horizontal a:hover, 
nav.horizontal a:active {
   background-color: rgb(71, 130, 180);
}   

/* Section Styles */

section#main {
   padding-left: 20px;
}

/* Article Styles */

article > h1 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 2.2em;
   font-weight: normal;
   margin: 0.5em 0;
}

article p {
   line-height: 1.2;
   margin-bottom: 2em;
}


/* Specials Styles */

div.specials {
   background-color: rgba(255, 255, 255, 0.15);
   padding: 10px;
}


div.specials h1 {
   font-size: 1.8em;
   font-weight: normal;
   margin: 0.3em 0;
   text-align: center;
}

div.specials p {
   font-size: 0.8em;
   margin-bottom: 1em;
   line-height: 1.2;
}

div.specials a {
   color: rgb(0, 25, 153);
}


/* Award Styles */

aside {
   background-color: rgb(0, 115, 230);
   margin-top: 20px;
}

aside h1 {
   font-size: 2.5em;
   font-weight: normal;
   text-align: center;
}

aside div p {
   font-size: 0.8em;
   text-align: center;
   margin: 0.3em 0;
}

aside div img {
   display: block;
   width: 100%;
}


/* Footer Styles */

footer {
	color: rgb(186, 186, 156);
	background-color: rgb(0, 3, 57);
	font-size: 0.9em;
	padding: 10px 0px;
	text-align: center;
}

/* Page Body Styles */
body{
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   margin-left: auto;
   margin-right: auto;
   line-height: 1;
}

/* Image Styles */
img{
   display: block;
   width: 100%;
}

/* Horizontal Navigation Styles */

nav.horizontal li{
   display: block;
   float: left;
   width: 100%;
}

nav.horizontal a{
   display: block;
}

.tab { 
   margin-left: 40px; 
}

/* Grid Styles */
body{
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-column-gap: 20px;
}

header, footer{
   grid-column: 1/-1;
}

section#sub{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

/* Specials Styles */

div.specials{
   min-height: 400px;
   outline: 1px dashed rgb(71,52,29);
}


/* Award Styles */

aside{
   position: relative;
   height: 650px;
   overflow: auto;
}

aside div{
   width: 30%;
   position: absolute;
}

div#award1{
   top: 80px;
   left: 5%;
}

div#award2{
   top: 280px;
   left: 60%;
}

div#award3{
   top: 400px;
   left: 20%;
}

div#award4{
   top: 630px;
   left: 45%;
}

div#award5{
   top: 750px;
   left: 5%;
}

/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/

@media only screen and (max-width: 480px){
   img.panel{
       width: 100%;
   }
   aside{
      height: 400px;
   }

   section {
      width: 500px;
   }
   body>footer{
       order: 100;
   }
}
/* ===================================================
  Tablet and Desktop Devices: Greater than 480 pixels
  ===================================================
*/

@media only screen and (min-width: 481px){
   nav.horizontal ul{
       display: flex;
       flex-flow: row nowrap;
   }

   nav.horizontal ul li{
       flex: 1 1 auto;
   }

   img.size1{width: 100%;}
   img.size2{width: 60%;}
   img.size3{width: 40%;}
   img.size4{width: 30%;}
}